@import "./Sass/Utils/variables/_Variables";

                                /*GENERAL*/
                                
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

html, body{
    height: auto;
    width: 100%;
    margin: 0;
    background-color:#f7f1e3;
    color: black;
    font-family: 'EB Garamond', serif;
}



/*HEADER*/

* {
    outline: 0;
    text-align: center;
    padding: 0;
}

header{
    h1{
        font-size: 6rem;
        font-family: 'EB Garamond', serif;
        text-align: center;
        margin: 0;
        text-transform:inherit;
    }
    header p{
        text-align: center;
        font-size: 1.3rem
    }
    nav{  
        border-bottom: solid 0.2px $color-black;
        margin: 0px 30px 0px 30px;
        text-align: center;
        padding: 10px;
        font-size: 1.5rem;
    } 
    nav a{
        margin: 15px;
        
    } 
}

button{
    margin-top: 10px;
    cursor: pointer;
    padding: 0;
    height: 40px;
    width: 50px;
    position: absolute;
    left: 10px;
    border-radius: 10px;
    background-color:$color-darkMode;
    color: $color-white;
    &:hover{
        height: 45px;
        width: 70px;
        transition: 0.4s;  
    }
}

        // Class thème sombre Javascript //
.dark{
    background-color: $color-darkMode;
    color: $color-white;
    footer{
        border-top: solid 0.2px $color-white;
    }
    nav{  
        border-bottom: solid 0.2px $color-white;
        text-align: center;
        padding: 10px;
        font-size: 1.5rem;
    } 
    button{
        background-color: #f7f1e3;
        color: $color-black;
    }
    button a{
        border-radius: 10px;
        height: 50px;
        width: 120px;
        background-color: #f7f1e3;
        border: $color-white;
        color: $color-black;
    }
}
.dark a:link{
    color: $color-white;
}

.dark a:visited{
    color: $color-white;
}
                                //*BODY*//

#bitcoinDominance, #totalCrypto{
    font-size: 1.3rem;
}

#coinMarket{
    background-color: white;
    padding-top: 1.9rem;
    border-radius: 10px;
}

a:link{
    color: $color-black;
}

a:visited{
    color: $color-black;
}

#autres{
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}
#bitcoinPrice{
    width: 100%;
    display: grid;
    justify-content: center;
    font-size: 1.5rem;
    p{
        text-align: center;
        margin: 0;
    }
    img{
        height: 3rem;
    }
}


/* Footer */

footer{
    display: flex;
    margin: 30px 30px 0px 30px;
    justify-content: space-around;
    align-items: center;
    border-top: solid 0.2px $color-black;
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.2rem;
    } 
}
#divFooter{
    display: flex;
    align-items: center;
    img{
        margin: 5px;
        height: 3rem;
    }
    #linkedinLogo{
        height: 2.8rem;
    }
}